<%- include('./partials/head.ejs')  %> 
<style>

    /* .about{
        word-wrap: break-word
    } */

   .row{
    border: 1px solid #ccc;
    border-radius:10px
   }

   .left-po{
       display:flex;
       flex-direction:column;
       /* border-right: 2px solid #ccc; */
   }

   .right-po{
       display:flex;
       flex-direction:column;
       justify-content: space-around;
   }

   .image{
       height:120px;
       width:120px;
   }
   .image img{
       height:100%;width:100%;
       border-radius:50%
   }

</style>
<body>
    <%- include('./partials/nav.ejs')  %> 
    <% if(profiles.length>0){ %>
        <% profiles.forEach((profile)=>{%> 
            <% if(profile.name&&profile.avatar&&profile.about&&profile.year){ %> 
            <div class="container my-3">
                <div class="row pb-2">
                        <div class="left-po col-xs-4 py-4 pr-4 pl-2">
                            <div class="image">
                                <% if(profile.avatar) { %> 
                                <img src="/<%= profile.avatar %> "
                                onerror="this.onerror=null;
                                this.src='https://st2.depositphotos.com/4111759/12123/v/950/depositphotos_121233262-stock-illustration-male-default-placeholder-avatar-profile.jpg';"
                                alt="image">
                                <% }else{ %>
                                    <img src="https://source.unsplash.com/random/300x200" alt="image">
                                 <% } %> 
                            </div>
                         
                          
                        </div>
            
                        <div class="right-po pl-5  col-xs-6">
                            <h4 class="pt-2"><%= profile.name %> </h4>
                            <div class="pt-3 blockquote" ><div class="quote"><span class="font-weight-bold">Year:</span> <%= profile.year  %></div></div>
                            <div class="pt-1 about text-justify blockquote"><div><span class="font-weight-bold">About:</span> <%= profile.about  %> </div></div>
                            <div class="pt-3"><a href="<%= profile.link  %> " class="btn btn-outline-secondary"><%= profile.name.split(' ')[0]%>'s github link </a></div>
                        </div>
                </div>
            </div>
        <% } %> 
        <% }) %>     
    <% }else{ %>
        <h1>No posts yet.</h1>
    <% } %>     

    <%- include('./partials/end.ejs')  %> 