<%- include('./partials/head.ejs')  %> 

<body>
    <%- include('./partials/nav.ejs')  %> 
   
    <div class="container">
        <form class="form-inline ml-auto mb-3" action="/search" method="POST">
        
            <input type="text" class="form-control mr-2 inline" style="width:15rem" name="search" placeholder="Search by user or college name">
            <button class="btn btn-outline-dark " type="submit"><i class="fa fa-search ml-0"></i></button>
            
    </form>
    <%- include('./partials/messages.ejs')  %> 
    </div>
    <% if(profiles.length>0){ %>
        <% profiles.forEach((profile)=>{%> 
            <% if(profile.name&&profile.avatar&&profile.about&&profile.year&&profile.repos&&profile.college){ %> 
            <div class="container mb-3">
                <div class="row pb-2">
                        <div class="left-po col-xs-4 py-4 pr-5 pl-2">
                            <div class="image">
                                <% if(profile.avatar) { %> 
                                <img src="/<%= profile.avatar %>"
                                onerror="this.onerror=null;
                                this.src='https://st2.depositphotos.com/4111759/12123/v/950/depositphotos_121233262-stock-illustration-male-default-placeholder-avatar-profile.jpg';"
                                alt="image">
                                <% }else{ %>
                                    <img src="https://source.unsplash.com/random/300x200" alt="image">
                                 <% } %> 
                            </div>
                         
                          
                        </div>
            
                        <div class="right-po pl-3 pr-3 col-xs-6">
                            <h4 class="pt-3"><%= profile.name %> &middot; <mark class="text-success "><small class="font-weight-bold"><%= profile.repos%> repos</small></mark> </h4>
                            <div class="pt-3 blockquote" ><span class="font-weight-bold">Year:</span> <%= profile.year %> <span class="font-weight-bold">&middot;</span> <mark><small class="text-success font-weight-bold"><%= profile.college %></small></mark></div>
                            <div class="pt-1 about text-justify blockquote"><div><span class="font-weight-bold">About:</span> <%= profile.about  %> </div></div>
                            <div class="pt-2"><a href="<%= profile.link  %> " class="btn btn-outline-secondary"><%= profile.name.split(' ')[0]%>'s github link </a></div>
                        </div>
                </div>
            </div>
        <% } %> 
        <% }) %>     
    <% }else{ %>
        <% if(comingFrom){ %>
            <div class="container"><h3>No user found. Try another search</h3></div>
         <% }else{ %>
        <div class="container"><h3>No more posts.</h3></div>     
    <% } %> 
        <% } %>  
    <% if(!searchquery) { %> 
    <div class="container text-center mt-3">
        <% if(page!==1){%> 
        <a href="?page=<%= page - 1 %> " class="btn  btn lght">&laquo; Previous </a>
       <% } %> 

        <% if(profiles.length>0){ %> 
        <a href="?page=<%= page + 1 %> " class="btn  btn lght">Next &raquo;</a>
      <% } %> 
    </div>
    <% } %> 

    <%- include('./partials/end.ejs')  %> 